@model IEnumerable<Capstone_20130302.Models.Store>

@{
    ViewBag.Title = "Stores";
    Layout = "~/Views/Shared/_MerchantLayout.cshtml";
}
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>


<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row spare-down'<'span4'f><'span3'l>r>t<'row'<'span3'i><'span8'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            }
        });
    });
</script>


@if (Model.ToList().Count > 0)
{
    <p id="create" class="create">
        @Html.ActionLink("Open a New Store", "Create", null, new { @class = "btn pull-right btn-small" })
    </p>

    <div class="form-inline data-content">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StoreName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>Open Order
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                    <th>Action </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StoreName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td>
                            <a href="Store/Edit/@item.StoreId"><i class="icon-edit"></i> Edit</a>
                            <a href="Store/Id/@item.StoreId"><i class="icon-search"></i> View</a>
                            @*<a href="Store/Delete/@item.StoreId"><i class="icon-trash"></i></a>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}
else
{
    <div class="dl-message">
        <div class="head">
            <h4>No Store Available</h4>
        </div>
        <div class="body">
            You haven't create any store. To start your great business with SocialBuy, please open a new one.
            <br><br>
            @Html.ActionLink("Open a New Store", "Create", null, new { @class = "btn btn-small" })
        </div>
        <div class="tail"></div>
    </div>
}

