@model IEnumerable<Capstone_20130302.Models.Store>
@using Capstone_20130302.Constants
@{
    ViewBag.Title = "Stores";
    Layout = "~/Views/Shared/_MerchantLayout.cshtml";
}
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>


<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row spare-down'<'span4'f><'span3'l>r>t<'row'<'span3'i><'span8'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            }
        });
        function updateStoreStatus(sid, stt) {
            $.ajax({
                url: "/Store/UpdateStoreStatus",
                type: 'POST',
                data: { storeID: sid, status: stt },
                success: function (response) {
                    if (response == "OK") {
                        $('#status-' + sid).text(stt);
                        notify({ title: "Update Success", content: "The status has been updated." });
                    }
                    else {
                        notify({ title: "Request Error", content: "The system fails to process your request, please try again." });
                    }
                }
            });

            //$('#regisModal').find('input#regis').click();
        }

        $(".changeStatus").change(function () {
            var storeID = $(this).data("sid");
            //alert(productID);
            var status = $('#n-status-' + storeID + ' option:selected').text();
            //alert(status);
            updateStoreStatus(storeID, status);
        });
    });
</script>


@if (Model.ToList().Count > 0)
{
    <p id="create" class="create">
        @Html.ActionLink("Open a New Store", "Create", null, new { @class = "btn pull-right btn-small" })
    </p>

    <div class="form-inline data-content">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StoreName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalFollowers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                    <th>Action </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StoreName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalFollowers)
                        </td>
                        <td data-sid="@item.StoreId" id= "status-@item.StoreId">
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        <td data-sid="@item.StoreId">
                            <a href="Product?sid=@item.StoreId"><i class="icon-edit"></i> Browse</a>
                            <a href="Store/Id/@item.StoreId"><i class="icon-search"></i> View</a>
                            <a href="Store/Edit/@item.StoreId"><i class="icon-edit"></i> Edit</a>
                            @if (item.StatusId != Constant.STATUS_BANNED && item.StatusId != Constant.STATUS_PENDING)
                            {
                                @Html.DropDownList("StatusID", (SelectList)ViewBag.StatusID, "- Update -", new { id = "n-status-" + @item.StoreId, @class = "span2 changeStatus", data_sid = @item.StoreId })
                            }
                            @*<a href="Store/Delete/@item.StoreId"><i class="icon-trash"></i></a>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}
else
{
    <div class="dl-message">
        <div class="head">
            <h4>Let your Business started</h4>
        </div>
        <div class="body">
            You haven't create any store. To start your great business with SocialBuy, please open a new one.
            <br><br>
            @Html.ActionLink("Open a New Store", "Create", null, new { @class = "btn btn-small" })
        </div>
        <div class="tail"></div>
    </div>
}

