@model IEnumerable<Capstone_20130302.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectType.PronounsTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectType.PronounsTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageType.MessageTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectType.PronounsTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectType.PronounsTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageType.MessageTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
        </td>
    </tr>
}

</table>
