@model IEnumerable<Capstone_20130302.Models.Store>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .tablemain
    {
        width: 100%;
    }
    .tablemain td,.tablemain th
    {
        border:solid 1px black;
    }
    .tablemain tr:nth-of-type(2n)
    {
        background:rgb(201, 201, 201);
    }
    .create a
    {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 164px;
        height: 33px;
        border: inset;
        
    }
</style>
<h2>Index</h2>

<p id ="create" class ="create">
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tablemain" class ="tablemain">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            Open Order
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
  
        <th>   Action </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StoreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoreId })
        </td>
    </tr>
}

</table>
