@model Capstone_20130302.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<br />
<section id="registerForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            <ul>
                <li>
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username" })
                    <br />
                    @Html.ValidationMessageFor(m => m.UserName)

                </li>
                <li>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
                    <br />
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
                <li>Have an account? @Html.ActionLink("Login", "Login") instead.
                </li>
            </ul>
            <input type="submit" class="btn" value="Register" />
        </fieldset>
    }
    <div>Register with your Facebook account</div>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    <br />
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    body.simple-layout {
        background: #fff url(/Images/float.jpg) no-repeat;
        background-size: 100%;
    }

    .simple-wrapper {
        background: transparent;
        border: none;
        box-shadow: none;
        text-align: left;
        width: 60%;
        color: #fff;
        margin: 5% auto 0;
    }

    .simple-header {
        display: none;
    }

    .field-validation-error, .validation-summary-errors {
        color: #FFF;
        background: rgba(201, 70, 62, 0.63);
        padding: 0px 7px;
        border-radius: 3px;
        margin-bottom: 6px;
        display: inline-block;
        width: 220px;
    }

    input[type=text],
    input[type=password] {
        background: rgba(255, 255, 255, 0.9);
    }
</style>
