@model Capstone_20130302.Models.Profile

@{
    ViewBag.Title = "Step 3 of 3";
    //Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div>
        <div>
            Avatar
        </div>
        <div id="profile">
            
            <div class="validation-summary-errors">
                <ul>
                    <li>@Html.ValidationMessageFor(model => model.DisplayName)</li>
                    <li>@Html.ValidationMessageFor(model => model.DateOfBirth)</li>
                    <li>@Html.ValidationMessageFor(model => model.Email)</li>
                    <li>@Html.ValidationMessageFor(model => model.ContactNumber)</li>
                    <li>@Html.ValidationMessageFor(model => model.Addresses.ElementAt(0).Number)</li>
                    <li>@Html.ValidationMessageFor(model => model.Addresses.ElementAt(0).Street)</li>
                    <li>@Html.ValidationMessageFor(model => model.Addresses.ElementAt(0).City)</li>
                    <li>@Html.ValidationMessageFor(model => model.Addresses.ElementAt(0).State)</li>
                </ul>
            </div>

            <div class="controls controls-row">
                @Html.TextBoxFor(model => model.DisplayName, new { placeholder = "Display Name", title = "Display Name", @class="span4" })
                @Html.EditorFor(model => model.DateOfBirth, new { placeholder = "Date of Birth", title = "Date of Birth", @class="span2" })
            </div>
            <div class="controls controls-row">
                @Html.TextBoxFor(model => model.ContactNumber, new { placeholder = "Contact Number", title = "Contact Number", @class="span3" })
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", title = "Email", @class="span3" })
            </div>
            <div class="controls controls-row">
                @Html.TextBoxFor(model => model.Addresses.ElementAt(0).Number, new { placeholder = "Number", title = "Number", @class="span2" })
                @Html.TextBoxFor(model => model.Addresses.ElementAt(0).Street, new { placeholder = "Street", title = "Street", @class="span4" })
            </div>
            <div class="controls controls-row">
                @Html.TextBoxFor(model => model.Addresses.ElementAt(0).City, new { placeholder = "City", title = "City", @class="span3" })
                @Html.TextBoxFor(model => model.Addresses.ElementAt(0).State, new { placeholder = "State", title = "State", @class="span3" })
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
