@model Capstone_20130302.Models.Profile
@using Capstone_20130302.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    List<Store> liststore = ViewBag.liststore;
    List<Product> listpro = ViewBag.listpro;
}
<h2>Details</h2>
<p>Store follow and Product like </p>
    
<p>@liststore.Count Store follow</p>
@foreach (Store store in liststore)
{
    <div>
        @store.StoreName
    </div>
}
<br />


<p>@listpro.Count Product like</p>

@foreach (Product pro in listpro)
{
    <div>
        @pro.Name;
    </div>
}
<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProfileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
