@model IEnumerable<Capstone_20130302.Models.Category>

@{
    ViewBag.Title = "Follow your Favorites";
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Image</th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            <img src="../Image/Details/@item.CoverImage.ImageId"/>
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>

