<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SocialBuy</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <link rel="stylesheet" href="/Content/font-awesome.css" />
    <link rel="stylesheet" href="/Content/select2.css" />
    <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" />
    <script src="/Scripts/jquery.filedrop.js"></script>
    <script src="/Scripts/upload.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.maskedinput.min.js"></script>
    <script src="/Scripts/select2.min.js"></script>
    <script src="/Scripts/search.js"></script>
    <script src="/Scripts/knockout-2.2.1.js"></script>
    <script src="/Scripts/Cart.js"></script>
    <script src="/Scripts/jquery.isotope.min.js"></script>
    <link rel="stylesheet" href="/Content/isotope.css">
    <script src="/Scripts/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="/Content/jquery.bxslider.css">
    @Scripts.Render("~/bundles/default")
    
</head>
<body>
    <div id="content-header">
        <header>
            <div class="inner">
                <div class="search-box">
                    <form action="Search" method="GET">
                        <input type="text" class="span4" id="searchString" name="searchString" placeholder="Search for Products, Stores, and People" onblur="setTimeout(function(){$('#searchresult').hide()}, 200)" onkeyup="search()">
                        <div id ="searchresult">
                            <table>
                                <tbody></tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div id="logo"></div>
                <div id="header-menu">
                    <div class="user-menu">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <ul class="noti5s">
                        <li id="cart"><a href="#">
                            <img src="/Images/icon-cart.png"><span class="badge badge-inverse">3</span></a>
                            <div class="cart-container" style="display: none;">
                                <div data-bind="style: { display:shops().length==0? 'none' : 'block'}">
                                <div data-bind="foreach: shops">
                                    <div class="store">
                                        <a href="#" class="store-title" data-bind="text: storeTitle"></a>
                                        <a href="/Order/Checkout" data-bind="attr:{'href': checkoutLink}" class="check-out">CHECK OUT</a>
                                    </div>
                                    <div data-bind="foreach: products">
                                        <div class="product">
                                            <img data-bind="attr:{src: productImage}">
                                            <div class="info">
                                                <div class="title">
                                                    <a href="#" data-bind="text: productTitle"></a>
                                                </div>
                                                <div class="price-quantity">
                                                    $<span  data-bind="text: productPrice"></span>
                                                    x&nbsp;<span class="badge" data-bind="text: productQuantity"></span></div>
                                                <div class="action"><a href="#" data-bind="click: function(data){$parent.removeProduct(data,$root)}">Remove</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <nav>
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="/">Your Favorites</a></li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Discover<b class="caret"></b></a>
                            <ul id="cateList" class="dropdown-menu">
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Notifications<span class="stat-fig">1</span><b class="caret"></b></a>
                            <ul id="cateList" class="dropdown-menu notif">

                                <li class="unread">
                                    <a href="">
                                        <div class="message">
                                            <div class="title">Caleido is now following you. Caleido is now following you.</div>
                                            <div class="date">19 mins ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="message">
                                            <div class="title">Caleido is now following your store.</div>
                                            <div class="date">45 mins ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="message">
                                            <div class="title">Caleido is now following you.</div>
                                            <div class="date">Friday 23, 2013 13:16:55</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="message">
                                            <div class="title">Caleido is now following you.</div>
                                            <div class="date">Friday 23, 2013 20:16:55</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="more">
                                    <a href="">View All Recent Messages</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Notifications", "Notification", "Home")</li>
                        <li>@Html.ActionLink("Orders", "UserManage", "Order")</li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    @RenderSection("featured", required: false)
    @RenderSection("scripts", required: false)
    <script>
        $(".modal").on("show", function () {
            $(".modal").not(this).modal("hide");
        });
        //$('[rel=tooltip]').tooltip();
        $("#cart > a").click(function () {
            $("#cart > .cart-container").toggle(300);
        })
        $(document).click(function (e) {
            if (e.target.tagName.toLowerCase() != "a") {
                $(".cart-container").hide(200);
            }
        })
        $(".cart-container,#cart > a").click(function (e) {
            if (e.target.tagName.toLowerCase() != "a") {
                e.preventDefault();
                return false;
            }
            return true;
        });
        $("[class*=logo], #logo").click(function () {
            location.href = "/";
        });
        var cateListDom = $("#cateList");
        $.getJSON('/Category/Dropdown', function (data) {
            $.each(data, function (key, val) {
                cateListDom.append('<li class="nav-header">' + val.text + '</li>')
                $.each(val.children, function (k, v) {
                    cateListDom.append('<li><a href="/Product/Category?id=' + v['id'] + '">' + v.text + '</a></li>')
                });
            });
        });
    </script>
</body>
</html>
