<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <link rel="stylesheet" href="/Content/select2.css" />
    <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" />
    <script src="/Scripts/jquery.filedrop.js"></script>
    <script src="/Scripts/upload.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.maskedinput.min.js"></script>
    <script src="/Scripts/select2.min.js"></script>
    <script src="/Scripts/search.js"></script>
    @Scripts.Render("~/bundles/default")

</head>
<body>
    <div id="content-header">
        <header>
            <div class="inner">
                <div class="search-box">
                    <form action="Search" method="GET">
                        <input type="text" class="span4" id="searchString" name="searchString" placeholder="Search for Products, Stores, and People" onblur="$('#searchresult').hide()" onkeyup="search()">
                        <!-- <input type="text" class="span4" id="searchString" name="searchString" placeholder="Search for Products, Stores, and People" onkeyup="search()"> -->
                        <div id ="searchresult">
                            <table>
                                <tbody></tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div id="logo"></div>
                <div id="header-menu">
                    <div class="user-menu">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <ul class="noti5s">
                        <li id="cart"><a href="#">
                            <img src="images/icon-cart.png"><span class="badge badge-inverse">3</span></a>
                            <div class="cart-container" style="display: none;">
                                <div data-bind="style:{display:shops().length==0?'none':'block'}">
                                <div data-bind="foreach: shops">
                                    <div class="store">
                                        <a href="#" class="store-title" data-bind="text: storeTitle"></a>
                                        <a href="#" class="check-out">CHECK OUT</a>
                                    </div>
                                    <div data-bind="foreach: products">
                                        <div class="product">
                                            <img src="images/product-icon.jpg" data-bind="attr:{src: productImage}">
                                            <div class="info">
                                                <div class="title">
                                                    <a href="#" data-bind="text: productTitle"></a>
                                                </div>
                                                <div class="price-quantity">
                                                    $<span  data-bind="text: productPrice"></span>
                                                    x&nbsp;<span class="badge" data-bind="text: productQuantity"></span></div>
                                                <div class="action"><a href="#" data-bind="click: function(data){$parent.removeProduct(data,$root)}">Remove</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <nav>
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Link<b class="caret"></b></a><ul class="dropdown-menu">
                            <li><a href="#">Sub menu1</a></li>
                            <li><a href="#">Sub menu1</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    @RenderSection("featured", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
