@model IEnumerable<Capstone_20130302.Models.Product>
@using Capstone_20130302.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FreeLayout.cshtml";
    List<EditorPick> EditorPicks = ViewBag.EditorPicks;
    
}
<section class="reg-motiv">
    <div class="h-reg"></div>
    <p>Join the e-marketplace where social network meets traditional shopping.</p>
    <a href="/Account/Register">Join Now</a> <a href="">Open a Store</a>
</section>
<section class="shelf">
    <div class="h-picks"></div>
    <br />
    <div class="shelf-wrapper product-grid" id="picks">
        @foreach (var pick in EditorPicks)
        {
            <div class="product">
                <a href="/Product/Id/@pick.Product.ProductId">
                    <div class="image">
                        <div class="img" style="background: url(/Image/@pick.Product.ProductImages.ElementAt(0).ImageId)"></div>
                        <div class="detail">
                            <div class="price">
                                $@pick.Product.Price
                            </div>
                            <div class="buttons">View details</div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>@pick.Product.Name</h4>
                        <p>@pick.Product.Description.Substring(0, 30)...</p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/Product/Id/@pick.Product.ProductId">
                    <div class="image">
                        <div class="img" style="background: url(/Image/@pick.Product.ProductImages.ElementAt(0).ImageId)"></div>
                        <div class="detail">
                            <div class="price">
                                $@pick.Product.Price
                            </div>
                            <div class="buttons">View details</div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>@pick.Product.Name</h4>
                        <p>@pick.Product.Description.Substring(0, 30)...</p>
                    </div>
                </a>
            </div>
        }
    </div>
</section>
<section class="discover">
    <h2>Discover</h2>
    <div class="product-grid" id="discover">
        @foreach (var item in Model)
        {
            <div class="product cate-@item.CategoryId">
                <a href="/Product/Id/@item.ProductId">
                    <div class="image">
                        <img src="/Image/@item.ProductImages.First().ImageId"/>
                        <div class="detail">
                            <div class="price">
                                $@item.Price
                            </div>
                            <div class="buttons">View details</div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>@item.Name</h4>
                        <p>@item.Description.Substring(0, 30)...</p>
                    </div>
               </a>
            </div>
            <div class="product cate-@item.CategoryId">
                <a href="/Product/Id/@item.ProductId">
                    <div class="image">
                        <img src="/Image/@item.ProductImages.First().ImageId"/>
                        <div class="detail">
                            <div class="price">
                                $@item.Price
                            </div>
                            <div class="buttons">View details</div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>@item.Name</h4>
                        <p>@item.Description.Substring(0, 30)...</p>
                    </div>
               </a>
            </div>
            <div class="product cate-@item.CategoryId">
                <a href="/Product/Id/@item.ProductId">
                    <div class="image">
                        <img src="/Image/@item.ProductImages.First().ImageId"/>
                        <div class="detail">
                            <div class="price">
                                $@item.Price
                            </div>
                            <div class="buttons">View details</div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>@item.Name</h4>
                        <p>@item.Description.Substring(0, 30)...</p>
                    </div>
               </a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    $("#discover").isotope({
        layoutMode: "masonry",
        masonry: {
        }
    });
    setTimeout(function () {
        $("#discover").isotope({ filter: "*" });
    }, 500);

    $(document).ready(function () {
        var slider = $("#picks").bxSlider({
            minSlides: 1,
            maxSlides: 4,
            slideWidth: 200,
            slideMargin: 20,
            pager: false
        });
    })
</script>
<style>
    body {
        background: #F7F6F5;
    }
    .shelf-wrapper.product-grid .product .description h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .bx-viewport {
        height: 225px !important;
    }
</style>