@model Capstone_20130302.Models.Order

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FreeLayout.cshtml";
}






<div class="page clearfix" id="p-checkout">
    <div class="checkout">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Order</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.TotalPayment)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TotalPayment)
                    @Html.ValidationMessageFor(model => model.TotalPayment)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.BillingName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.BillingName)
                    @Html.ValidationMessageFor(model => model.BillingName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.BillingAddressId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.BillingAddressId)
                    @Html.ValidationMessageFor(model => model.BillingAddressId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.IsUsedAsShipping)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.IsUsedAsShipping)
                    @Html.ValidationMessageFor(model => model.IsUsedAsShipping)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ShippingName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ShippingName)
                    @Html.ValidationMessageFor(model => model.ShippingName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ShippingAddressId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ShippingAddressId)
                    @Html.ValidationMessageFor(model => model.ShippingAddressId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.StatusId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.StatusId)
                    @Html.ValidationMessageFor(model => model.StatusId)
                </div>

                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
        }
    </div>
    <div class="cart-view">
        <h2>Shopping cart
        </h2>
        <div data-bind="foreach: shops">
            <div data-bind="foreach: products">
                <div class="product">
                    <img src="/Image/10" data-bind="attr:{src: productImage}">
                    <div class="info">
                        <div class="title">
                            <a href="#" data-bind="text: productTitle">Joe Dark Blue Yellow Casual Shoes</a>
                        </div>
                        <div class="price-quantity">
                            $<span data-bind="text: productPrice">32.5</span>
                            x&nbsp;
                            <input type="number" min="1" data-bind="value: productQuantity" />
                        </div>
                        <div class="action"><a href="#" data-bind="click: function(data){$parent.removeProduct(data,$root)}">Remove</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style>
    #p-checkout {
        border: solid 1px #DBDBEA;
        background: #fff;
        margin: 50px auto;
        padding: 40px;
        box-sizing: border-box;
        line-height: 1.5;
        color: #646472;
    }

    .checkout {
        width: 500px;
        float: left;
    }

    .cart-view {
        width: 350px;
        float: right;
        background-color: #FFF099;
        height: 100%;
    }

        .cart-view .product {
            margin: 10px 20px;
        }

            .cart-view .product > img {
                width: 50px;
                border: 1px solid #969696;
                padding: 1px;
                background: white;
                box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
                float: left;
            }

            .cart-view .product .info {
                float: left;
                margin-left: 10px;
                width: -webkit-calc(100% - 64px);
            }

                .cart-view .product .info .title a {
                    font-size: 14px;
                    color: #C44949;
                }

                .cart-view .product .info .price-quantity {
                    float: left;
                    font-size: 16px;
                    color: black;
                }
                    .cart-view .product .info .price-quantity input[type=number] {
                        width: 40px;
                        height: 20px;
                        padding: 0 0 0 5px;
                        line-height: 15px;
                        margin-bottom: 3px;
                    }
                .cart-view .product .info .action {
                    display: none;
                    float: right;
                }
            .cart-view .product:hover .info .action {
                display:block;
            }
                    
</style>
